.body{
    text-align: center;
}
#mainForm {
    max-width: 300px;
    margin: 30px auto;
    overflow: auto;
    min-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

#credits_table {
    border-collapse: collapse;
    border: 3px solid black;
    margin: auto;
}
div {
    text-align: center;
}
td, th{
    border: 3px solid black;
    padding: 12px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}